* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    border: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
}

.left-container {
    flex: 1.25 0 0;
    background-image: url("../img/landscape.jpg");
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-flow: column nowrap;
}

.head {
    height: 150px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Cormorant SC', serif;
    font-size: 3.5rem;
}

.head>span{
    display: flex;
    justify-content: center;
}

.head> span> span{
    position: absolute;
    font-size: 1rem;
    top: 250px;
}

.credits {
    color: white;
    font-family: 'Lato', sans-serif;    font-size: 0.8rem;
    padding-bottom: 10px;
}

.credits a:link, .credits a:visited {
    color: white;
}

img {
    width: 100px;
    height: auto;
}

.upper-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.lower-left-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.right-container {
    flex: 2 0 0;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Lato', sans-serif;    font-weight: 600;
}

.upper-right-container {
    padding: 30px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgb(245, 251, 255);
}

.text {
    border: 1px solid #dadce0;
    /* width: clamp(300px, 50vw, 85%); */
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.form-container {
    flex: 1.5 1 auto;
    background-color: rgb(245, 251, 255);
}

.form-container>p {
    font-size: 1.5rem;
    box-shadow:0 -3px 4.5px 0 #ddd;
    padding: 30px 0 0 25px;
    background-color: #fff;
}

label {
    font-size: 0.75rem;
}

.input-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4.5px 4.5px 0 #ddd;
}

form fieldset {
    width: clamp(300px, 50vw, 500px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px 40px;
    position: relative;
    padding: 40px 20px;
    border: none;
}

legend {
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: -42px;
}

input {
    height: 22px;
    width: max(15vw, 200px);
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}

input:focus {
    border: 2px solid rgb(164, 219, 240);
    outline: none;
}

fieldset>div {
    position: relative;
}

input:required+span::after {
    content: "*";
    color: red;
    position: absolute;
    right: 10px;
    top: 2px;
}

.error {
    border: 2px solid red;
}

.match-text {
    position: absolute;
    bottom: -15px;
    color: red;
    font-size: 0.7rem;
    opacity: 0;
}

.btn-container{
    background-color: rgb(245, 251, 255);
}

button {
    width: 160px;
    height: 35px;
    margin: 25px 50px;
    background-color: rgb(178, 212, 252);
    border-radius: 8px;
    border: none;
}

button:hover{
    background-color: rgb(196, 222, 249);
    cursor: pointer;
}

button:active {
    background-color: rgb(196, 222, 249);
    box-shadow: 0 1px 2px #666;
    transform: translateY(2px);
}

button+div {
    font-size: 1rem;
    margin: 25px 50px;
}