* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    border: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
}

.left-container {
    border: 2px solid blue;
    flex: 1.25 0 0;
    background-image: url("../img/landscape.jpg");
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-flow: column nowrap;
}

img {
    width: 100px;
    height: auto;
    /* -webkit-filter: invert(0.9); */
}

.upper-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.lower-left-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;

}

.right-container {
    border: 2px solid green;
    flex: 2 0 0;
    display: flex;
    flex-flow: column nowrap;
    /* padding: max(75px, 10vw) 0; */
}

.head {
    height: 150px;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.credits {
    color: white;
}


.upper-right-container {
    /* height: 100px; */
    padding: 30px;
    border: 2px solid black;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    /* overflow: visible; */
}

.text {
    /* display: flex;
    flex-flow: row wrap; */
    border: 1px solid black;
    width: clamp(20%, 450px, 70%);
}

.form-container {
    flex: 1.67 1 auto;
    /* border: 10px solid blue !important; */
    /* display: flex;
    flex-flow: column nowrap; */
    border: 1px solid black;
    /* justify-content: start; */
    align-items: center;
    padding-top: 50px;
}

.title {
    padding: 10px;
    font-size: 1.5rem;
    ;
}

label {
    font-size: 0.9rem;
}

.input-container {
    width: 100%;
    border: 1px solid pink;
}

form fieldset {
    /* border: 10px solid blue; */
    width: max(80%, 300px);
    /* border: 3px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px 40px;
    position: relative;
    padding: 30px 0;
    /* border: none; */
}

legend {
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: -42px;
}

button {
    width: 160px;
    height: 35px;
    margin: 25px 35px;
    background-color: rgb(178, 212, 252);
    border-radius: 8px;
    border: none;
}

button+div {
    font-size: 1rem;
    margin: 25px 35px;
}

input {
    height: 22px;
    width: max(15vw, 200px);
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    /* position: relative; */
}

input:focus {
    border: 2px solid rgb(164, 219, 240);
    outline: none;
}

fieldset>div {
    position: relative;
    /* border: 2px solid pink; */
}

input:required+span::after {
    content: "*";
    color: red;
    position: absolute;
    right: 10px;
    top: 1px;
}

.error {
    border: 2px solid red;
}

.match-text{
    position: absolute;
    bottom: -15px;
    color: red;
    font-size: 0.7rem;
    opacity: 0;
}

input:invalid{
    border: 2px solid red;
}